@page
@model assignment2A_real.Views.Admin.AdminProfileSavedModel
@{
    ViewData["Title"] = "Profile Successfully Saved";
    ViewData["Message"] = "Profile successfully saved.";
}

<h1>@ViewData["Title"]</h1>
<p>@ViewData["Message"]</p>
